<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin đổi mật khẩu của khách hàng: {{CustomerName}}</title>
</head>
<body>
    <strong>Thông tin đổi mật khẩu của khách hàng:</strong> {{CustomerName}} <br />
    Đây là mật khẩu mới của bạn, hãy đổi lại.<br />

    Mật khẩu mới: {{Password}}<br />
    <hr />
    <br />
    <strong>Mọi thông tin chi tiết liên hệ</strong>
    <br />
    <strong>SDT: </strong>111-222-3333
    <br />
    <strong>Email: </strong>nhatdang261@gmail.com
    <br />
    <strong>Địa chỉ: </strong>475A Dien Bien Phu, Binh Thanh district, HCM, VietNam
    <br />
</body>
</html>