
@{
    ViewBag.Title = "ThankContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Cảm ơn bạn đã liên hệ!</h1>
    <p class="lead">Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Home")" role="button">Continue to homepage</a>
    </p>
</div>