
@{
    ViewBag.Title = "DV1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner overlay-dark bg-image">
    <img src="~/Assets/Client/images/banner.jpg" style="width:98%; height: 450px; margin-left:15px;" />
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Tin Tức</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<hr />
<div class="container-wrap">
    <div class="container main-content">
        
        <div class="col-lg-6">


            <img src="~/Assets/Client/images/vaccine-dog-cat.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h3>MIỄN PHÍ CHÍCH NGỪA DẠI, MIỄN PHÍ XỔ GIUN TẠI PHÒNG KHÁM PET CLINIC</h3>
            <strong>Vậy vì sao phải chích ngừa dại cho thú cưng?</strong>
            <p>Bệnh dại là bệnh lây truyền chung giữa động vật và người, do vi rút dại gây ra. Nguồn bệnh chủ yếu là chó (trên 90%) và mèo nuôi. Để ngăn ngừa bệnh dại cho cả chó lẫn người, việc tiêm phòng cho đàn vật nuôi là biện pháp cần thiết và hữu hiệu.</p>
            <strong>Vì sao phải xổ giun cho thú cưng?</strong>
            <p>
                Giun sán có thể gây ảnh hưởng đến các cơ quan quan trọng bên trong của chó, mèo. Gây ra các vấn đề về đường hô hấp, nôn mửa, ăn không ngon, sụt cân, suy nhược. Cuối cùng là có thể gây tử vong cho thú cưng của bạn. Ngoài việc gây hại trên thú cưng, giun sau khi trưởng thành sẽ bài thải trứng giun ra ngoài môi trường và trở thành nguy cơ lây nhiễm cho con người.
                Vậy nên việc này vô cùng cần thiết đối với mỗi gia đình có nuôi thú cưng, và nhất định không được bỏ qua nhé!
            </p>

        </div>
    </div>
</div>

