
@{
    ViewBag.Title = "DV2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-banner overlay-dark bg-image">
    <img src="~/Assets/Client/images/banner.jpg" style="width:98%; height: 450px; margin-left:15px;" />
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Tin Tức</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<hr />
<div class="container-wrap">
    <div class="container main-content">
        <h1 style="font-size:20px; margin-left:15px;"><b>Cách huấn luyện chó đi vệ sinh đúng chỗ</b></h1>
        <p style="font-size:20px; margin-left:15px;">Bạn đã bao giờ cảm thấy phiền phức khi ngày nào cũng phải dọn những “chiến lợi phẩm” của cún khắp nhà? Bạn đã từng muốn cún không còn đi vệ sinh bừa bãi trong nhà nhưng chưa biết làm thế nào?</p>
        <div class="col-lg-6">

            <img src="~/Assets/Client/images/VeSinh.PNG" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p style="margin-top:10px;">Bài viết cô đọng dưới đây của chúng tôi sẽ giúp các bạn huấn luyện cún đi vệ sinh đúng chỗ 1 cách nhanh và hiệu quả nhất. Để huấn luyện cún, chúng tôi đưa ra 5 bước như sau:</p>
            <strong>Bước 1: Xác định chỗ bạn muốn cún đi vệ sinh</strong>
            <p>Chỗ đó có thể là trong nhà vệ sinh của gia đình bạn hay 1 góc sân, góc ban công, sân thượng.</p>
            <strong>Bước 2: Lập thời gian biểu cho các bữa ăn</strong>
            <p>
                Mục đích của việc này là biết được lúc nào cún cần đi giải quyết vì đa phần cún thường đi vệ sinh sau khi ăn. Đa phần cún to thường ăn 2 lần/ngày vào lúc 12h trưa và 7h tối. Cún nhỏ thường ăn 3 lần/ ngày vào 7h sáng, 12h trưa và 7h tối.
            </p>

        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="container main-content">
        <div class="col-lg-6">


            <img src="~/Assets/Client/images/VeSinh2.PNG" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p style="margin-top:10px;">Nên cho cún ăn uống đúng chỗ, đúng thời gian quy định. Thông thường 1 bữa ăn của cún chỉ nên diễn ra trong vòng 20 phút. Sau 20 phút hãy cất hết đồ ăn, nước uống để kiểm soát được lượng thức ăn thu nhận cũng như để cún hiểu rằng nó chỉ được ăn trong khoảng thời gian đó.</p>
            <strong>Bước 3: Nghiên cứu thói quen và quy luật đi vệ sinh của cún.</strong>
            <p>
                Nắm được thói quen cũng như quy luật đi vệ sinh của cún là cơ sở để thiết lập thời gian biểu huấn luyện cho thích hợp.
            </p>
            <p>Cách đơn giản nhất để bạn biết được thói quen đi vệ sinh của cún là theo dõi và ghi chép lại trong khoảng 2-4 ngày. Khi ghi chép nhớ tách riêng thời gian cún đi nặng và đi nhẹ. Một số chỉ tiêu bạn nên chú ý theo dõi và quan tâm đó là:</p>
            <ul>
                <li> Thời gian cún đi vệ sinh tính từ khi cún ăn và uống bữa gần nhất.</li>
                <li>Thời gian cún đi vệ sinh tính từ khi cún ngủ dậy.</li>
            </ul>
            <strong>Bước 4: Các chuẩn bị cần thiết cho việc huấn luyện.</strong>
            <p>Lồng chó:</p>
            <p>
                Chuẩn bị một chiếc lồng phù hợp sẽ giúp việc huấn luyện cún nhanh chóng và hiệu quả hơn nhiều. Vì đa phần cún sẽ không đi bậy trong chuồng nó ở và ngoài ra, chuồng còn là công cụ để cún chịu hình phạt khi không nghe lời (cụ thể ở phần dưới).
                Các bạn nên chọn chuồng chó sơn tĩnh điện vì có sẵn khay nhựa phía dưới hứng phân và nước tiểu đồng thời giá chuồng cũng không hề đắt.
            </p>
            <br>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="container main-content">
        <div class="col-lg-6">



            <img src="~/Assets/Client/images/VeSinh3.PNG" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <span style="margin-top:10px;">
                Vậy chọn chuồng như thế nào cho phù hợp với mỗi chú cún?
                <br />
                - Kích thước lồng chỉ được phép vừa đủ cho cún nằm và xoay người, không được rộng quá kích thước của nó.
                <br />
                - Các bạn chọn lồng sao cho cún nằm vào thấy hơi chật, nếu đi nặng hoặc tè ra chuồng thì sẽ nằm lên phân hoặc nước tiểu. Các bạn đừng lo cún sẽ nằm đè lên phân và nước tiểu vì trừ khi con nào bí quá không kiềm chế được nữa mới tiểu và ị ra chuồng, còn đa phần cún sẽ không tiểu hay ị rồi nằm lên. Vì lồng chật chỉ đủ nằm, không đi vệ sinh được nên cún sẽ nhịn và khi không nhịn được sẽ kêu ầm lên, lúc đó bạn biết cún đã muốn đi vệ sinh.
            </span>


            <p>
                Nắm được thói quen cũng như quy luật đi vệ sinh của cún là cơ sở để thiết lập thời gian biểu huấn luyện cho thích hợp.
            </p>
            <p>Cách đơn giản nhất để bạn biết được thói quen đi vệ sinh của cún là theo dõi và ghi chép lại trong khoảng 2-4 ngày. Khi ghi chép nhớ tách riêng thời gian cún đi nặng và đi nhẹ. Một số chỉ tiêu bạn nên chú ý theo dõi và quan tâm đó là:</p>
            <ul>
                <li> Thời gian cún đi vệ sinh tính từ khi cún ăn và uống bữa gần nhất.</li>
                <li>Thời gian cún đi vệ sinh tính từ khi cún ngủ dậy.</li>
            </ul>
            <strong>Bước 4: Các chuẩn bị cần thiết cho việc huấn luyện.</strong>
            <p>Lồng chó:</p>
            <p>
                Chuẩn bị một chiếc lồng phù hợp sẽ giúp việc huấn luyện cún nhanh chóng và hiệu quả hơn nhiều. Vì đa phần cún sẽ không đi bậy trong chuồng nó ở và ngoài ra, chuồng còn là công cụ để cún chịu hình phạt khi không nghe lời (cụ thể ở phần dưới).
                Các bạn nên chọn chuồng chó sơn tĩnh điện vì có sẵn khay nhựa phía dưới hứng phân và nước tiểu đồng thời giá chuồng cũng không hề đắt.
            </p>
            <br>
            <p>
                <b>Thời gian biểu huấn luyện:</b>
                <br />
                Tùy thuộc vào thời gian biểu của các bữa ăn, thói quen đi vệ sinh của cún cũng như thời gian rảnh của mỗi người chủ mà các bạn có thể lập thời gian biểu huấn luyện cho cún 1 cách phù hợp nhất.
            </p>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="container main-content">
        <h1 style="font-size:20px; margin-left:15px;"><b>Cách huấn luyện chó đi vệ sinh đúng chỗ</b></h1>
        <p style="font-size:20px; margin-left:15px;">Bạn đã bao giờ cảm thấy phiền phức khi ngày nào cũng phải dọn những “chiến lợi phẩm” của cún khắp nhà? Bạn đã từng muốn cún không còn đi vệ sinh bừa bãi trong nhà nhưng chưa biết làm thế nào?</p>
        <div class="col-lg-6">


            <img src="~/Assets/Client/images/VeSinh4.PNG" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p style="margin-top:10px;">Dưới đây là thời gian biểu chúng tôi thiết kế dành riêng cho đa phần người Việt Nam - những người chủ đi làm cả ngày từ 8h sáng đến 18h tối hàng ngày (cún lớn hơn 1 năm tuổi và ăn 2 lần/ngày):</p>
            <ul>
                <li>6:30: Thức dậy. Đưa cún ra chỗ muốn nó đi vệ sinh.</li>
                <li>6:40 – 7:00: Cho cún chơi đùa tự do.</li>
                <li>7:00 – 7:20: Cho cún ăn và uống (cất ngay đồ ăn và nước uống đi sau khi cho cún dùng xong).</li>
                <li>7:20 – 7:30: Đưa cún ra chỗ muốn nó đi vệ sinh. Sau đó nhốt vào chuồng khi chủ đi làm (Hãy bỏ vào chuồng vài món đồ chơi cho cún gặm, ko được bỏ đồ ăn và nước uống).</li>
                <li>18:00: Chủ đi làm về. Thả cún ra.</li>
                <li>
                    18:15 – 18:30: Dẫn cún ra chỗ muốn nó đi vệ sinh và sau đó cho cún chơi đùa tự do.
                </li>
                <li>18:30: Cho cún ăn và uống (cất ngay đồ ăn và nước uống đi sau khi cho cún dùng xong).</li>
                <li>19:00: Đưa cún ra chỗ muốn nó đi vệ sinh.</li>
                <li>19:15: Nhốt cún vào chuồng.</li>
                <li>23:00: Đưa cún ra chỗ muốn nó đi vệ sinh. Sau đó nhốt vào chuồng đến sáng.</li>
            </ul>
            
            <strong>Bước 5: Huấn luyện</strong>
            <p>
                Ngoài việc thực hiện theo thời gian biểu, để huấn luyện cún đi vệ sinh thành công chúng ta cần lưu ý một số chi tiết quan trọng như sau:
                Việc bắt cún thay đổi 1 thói quen không phải là việc có thể cho kết quả nhanh chóng được. Bởi vậy để thành công, bạn cần rất kiên trì, yêu thương và độ lượng với cún như đối với trẻ con.
            </p>
            <p>
                Chọn khẩu lệnh:
                <br />
                Tức là khi muốn cún đi vệ sinh, bạn có thể nói “Milu, đái” hay “bắt đầu”…không quan trọng là bạn nói từ gì mà quan trọng là bạn phải nhất quán. Đã nói từ gì thì chỉ nói từ đó khi đưa cún ra đúng chỗ đi vệ sinh. Những ngày đầu cún có thể không hiểu bạn nói gì nhưng sau 1 thời gian làm quen, thậm chí bạn chỉ cần hô đúng khẩu lệnh đó là cún sẽ làm đúng hành động như bạn muốn (đi vệ sinh đúng chỗ đã được huấn luyện) mà không cần bạn phải dắt cún đi.
            </p>
            <p>
                Khen thưởng:
                <br />
                Khen thưởng là việc làm rất cần thiết và quan trọng giúp cún hiểu rằng nó làm như vậy là đúng và rất giỏi. Khi cún đi vệ sinh đúng chỗ, bạn hãy khen thưởng cún bằng lời nói, hành động (ôm ấp, xoa đầu…), hay thức ăn…Nên nhớ việc khen thưởng chỉ nên diễn ra trong vòng 5 giây sau khi cún đi vệ sinh xong vì nếu lâu hơn, cún sẽ không hiểu bạn đang khen thưởng cho việc gì.
            </p>

        </div>
    </div>
</div>
