
@{
    ViewBag.Title = "DV3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner overlay-dark bg-image">
    <img src="~/Assets/Client/images/banner.jpg" style="width:98%; height: 450px; margin-left:15px;" />
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Tin Tức</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<hr />
<div class="container-wrap">
    <div class="container main-content">
        <h1 style="font-size:20px; margin-left:15px;"><b>Khẩu phần ăn cho mèo như thế nào là tốt nhất?</b></h1>
        <p style="font-size:20px; margin-left:15px;">Nhu cầu dinh dưỡng của mèo biến đổi trong suốt quá trình mèo phát triển. Đồng thời bạn cũng biết, mèo uống ít nước hơn các loài vật khác khá nhiều. Vậy, chọn khẩu phần ăn cho mèo như thế nào mới là phù hợp nhất? - Vừa giúp mèo phát triển tốt và toàn diện, vừa giảm thiểu tối đa bệnh cho mèo trong quá trình chăm sóc.</p>
        <h3 style="font-size:20px; margin-left:15px;"><b>1. Khẩu phần ăn cho mèo từ sơ sinh đến 12 tháng tuổi.</b></h3>
        <div class="col-lg-6">


            <img src="~/Assets/Client/images/KhauPhan.PNG" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p style="margin-top:10px;">
                Trong giai đoạn đầu này, mèo cần chế độ ăn đầy đủ dinh dưỡng và hợp lý để có một nền tảng sức khỏe tốt trong suốt cuộc đời. Tuy nhiên, trong giai đoạn này, đường ruột của mèo chưa hoàn thiện, nên chúng ta cần chăm sóc thật kỹ, tránh tình trạng mèo bị tiêu chảy.
                Bạn hoàn toàn có thể cho mèo tập ăn từ 4-5 tuần tuổi.
                <br />
                Trong giai đoạn này, khẩu phần ăn tốt nhất cho mèo là thức ăn hạt cho mèo con. Thức ăn hạt cung cấp đủ chất đạm (Protein) và dinh dưỡng khác để mèo phát triển.
                <br />
                Mỗi ngày nên cho mèo ăn 5-6 lần.
                <br />
                (Lưu ý: giai đoạn trước 4 tuần tốt nhất là mèo con phải được nuôi hoàn toàn bằng sữa mẹ).
                <br />
                Tuy nhiên, bạn cần lưu ý tới độ ẩm của thức ăn hạt.
                <br />
                Nếu thức ăn hạt cho mèo có độ ẩm thấp (10%) thì bạn nên trộn thêm chúng với sữa cho mèo hoặc nước ấm. Chờ 1 lúc (3-6 phút) để thức ăn mềm ra và cho mèo ăn.
                <br />
                Ngoài ra, bạn có thể chọn thực phẩn đóng hộp có hàm lượng nước cao. Thức ăn đóng hộp cho mèo thường chứa 75% thành phần nước, đây là chất bổ sung rất tuyệt vời.

            </p>
            <h3 style="font-size:20px; margin-left:10px;"><b>2. Khẩu phần ăn cho mèo trưởng thành từ 1 - 6 tuổi.</b></h3>

        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="container main-content">
        <div class="col-lg-6">

            <img src="~/Assets/Client/images/KhauPhan2.PNG" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">


            <p>
                Mèo trưởng thành cần chế độ ăn bổ dưỡng và cân bằng để duy trì sức khỏe và cân nặng. Bạn có thể chọn cho mèo thức ăn giàu chất chống oxi hóa có nguồn gốc tự nhiên.
                <br />
                Trong giai đoạn này, mèo đã hoàn thiện về đường tiêu hóa, ngoài việc cho mèo ăn thức ăn hạt (thức ăn hạt giành cho mèo trưởng thành) thì bạn có thể tự làm thức ăn cho mèo.
                <br />
                Cách làm đơn giản nhất là bạn mua thịt, cá hoặc gà tươi sau đó trộn với gạo và nấu lên.
                <br />
                Lưu ý khi dùng cách này là cá hoặc gà bạn phải xay nhỏ xương, hoặc bỏ xương.
                <br />
                Ngoài ra, bạn có thể chọn thức ăn xay, cá hộp trộn cùng cơm cho mèo ăn.
            </p>

        </div>
    </div>
</div>

