
@{
    ViewBag.Title = "DV4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner overlay-dark bg-image">
    <img src="~/Assets/Client/images/banner.jpg" style="width:98%; height: 450px; margin-left:15px;" />
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Tin Tức</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<hr />
<div class="container-wrap">
    <div class="container main-content">
        <h1 style="font-size:20px; margin-left:20px;"><b>7 điều khiến bạn sẽ muốn nuôi mèo ngay lập tức!</b></h1>
        
        <h3 style="font-size:20px; margin-left:20px;"><b>1. Sạch sẽ</b></h3>
        <p style="font-size:20px; margin-left:20px;">
            Điều mà mọi người nuôi thú cưng đều mong muốn. Mèo là loài khá sạch sẽ, kể cả trong việc đi WC, nếu dậy được chúng đi WC đúng chỗ thì bạn không còn phải lo lắng điều gì về con mèo của mình cả, nhưng nếu không được thì bạn sẽ chịu hậu quả thật kinh khủng.......
            Ngoài ra, trong điều kiện sức khỏe tốt, mèo rất ít và gần như là không có mùi, và rụng lông tương đối ít (điều này thường trái ngược với chó).
        </p>
        <div class="col-lg-6">
            <img src="~/Assets/Client/images/nuoimeo.PNG" />
        </div>
       
    </div>
</div>

<div class="container-wrap">
    <div class="container main-content">
        <h3 style="font-size:20px; margin-left:20px;"><b>2. Không gian cho mèo.</b></h3>
        <p style="font-size:20px; margin-left:20px;">Mèo không cần quá nhiều không gian. Chúng có thể hoạt động trong nhà, hoặc trong một phạm vi khá hẹp. Như thế với chúng cũng đủ rồi.</p>
        <div class="col-lg-6">

            <img src="~/Assets/Client/images/nuoimeo2.PNG" />
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="container main-content">
        <h3 style="font-size:20px; margin-left:20px;"><b>3. Độc lập.</b></h3>
        <p style="font-size:20px; margin-left:20px;">Mèo là loài động vật có tính độc lập rất cao, vẫn nên chúng có khả năng ở một mình cả tuần trời mà không cần chăm sóc quá kỹ (tất nhiên là với điều kiện đủ thức ăn và nước uống, không thể bắt chúng nhịn ăn và uống cả tuần được). »› Tại sao mèo thích cào đồ đạc trong nhà và phương pháp xử lý.</p>
        <div class="col-lg-6">
            <img src="~/Assets/Client/images/nuoimeo3.PNG" />
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="container main-content">
        <h3 style="font-size:20px; margin-left:20px;"><b>4. Mèo là loài động vật yên tĩnh.</b></h3>
        <p style="font-size:20px; margin-left:20px;">
            Mèo thường không cần vận động nhiều như chó (kể cả mèo con), chúng thường có xu hướng trầm tính hơn. Nếu hàng ngày bạn cần giành thời gian để dắt chó đi dạo thì với mèo, bạn chỉ cần ngồi vuốt ve và thưởng thức tiếng “meo meo” nhẹ nhàng của chúng là đủ.
            Chúng cũng ít phá phách nhà hàng xóm, ít quậy phá đồ trong nhà hơn. Điều này cũng dễ hiểu thôi, vì chúng giành tới 70% thời gian cuộc đời để ngủ mà.
        </p>
        <div class="col-lg-6">

            <img src="~/Assets/Client/images/nuoimeo4.PNG" />
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="container main-content">
        <h3 style="font-size:20px; margin-left:20px;"><b>5. Giảm động vật gặm nhấm.</b></h3>
        <p style="font-size:20px; margin-left:20px;">
            Điều này thì chắc quá rồi, chúng là thiên địch của chuột mà. Ngoài ra, thói quen của mèo là rình và bắt tất cả những gì nhỏ và chuyển động nên dán, chuột... sẽ trở thành mục tiêu để chúng tấn công. (Tất nhiên, vẫn có những trường hợp ngoại lệ chuột tấn công mèo, hay mèo và chuột sống cùng nhau).
        </p>
        <div class="col-lg-6">
            <img src="~/Assets/Client/images/nuoimeo5.PNG" />
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="container main-content">
        <h3 style="font-size:20px; margin-left:20px;"><b>6. Người nuôi chó và mèo khác nhau thế nào?</b></h3>
        <p style="font-size:20px; margin-left:20px;">
            Theo thống kê cho thấy một điều khá thú vị về chủ những chú mèo đó là những người nuôi mèo thường là những người thông minh, sáng tạo. Còn những người nuôi chó là những thích nguyên tắc, và có tất nhiên là họ có tư duy logic.
            <div class="col-lg-6">

                <img src="~/Assets/Client/images/nuoimeo6.PNG" />
            </div>
</div>
</div>
<div class="container-wrap">
    <div class="container main-content">
        <h3 style="font-size:20px; margin-left:20px;"><b>7. Mèo hợp với những người thế nào?</b></h3>
        <p style="font-size:20px; margin-left:20px;">
            Với đầy đủ những tính cách trên, mèo khá phù hợp với những người:
            <br />
            - Làm việc bận rộn, ít thời gian.
            <br />
            - Ít di chuyển do tuổi già hoặc tình trạng sức khỏe không tốt.
            <br />
            - Thiếu thời gian,sức lực hoặc cảm hứng.
            <div class="col-lg-6">


                <img src="~/Assets/Client/images/nuoimeo7.PNG" />
            </div>
</div>
</div>
