
@{
    ViewBag.Title = "DV5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner overlay-dark bg-image">
    <img src="~/Assets/Client/images/banner.jpg" style="width:98%; height: 450px; margin-left:15px;" />
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Tin Tức</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<hr />
<div class="container-wrap">
    <div class="container main-content">
        <h1 style="font-size:20px; margin-left:15px;"><b>Chiếc bát cho chó ăn được sản xuất khá cầu kỳ bằng kỹ thuật đóng thùng truyền thống.</b></h1>
      
        <div class="col-lg-6">
            <img src="~/Assets/Client/images/1140USD.PNG" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p style="font-size:20px; margin-left:5px;">Hiện nay, không phải chỉ có Prada hay Goyard mới là những hãng thời trang duy nhất lấn sân sang làm đồ dùng sang trọng cho thú cưng. Nhà mốt Hermes cũng vừa mới cho ra đời một chiếc bát cho chó ăn chẳng giống ai. Bát được làm từ gỗ sồi với kỹ thuật đóng thùng truyền thống.</p>
            <p style="font-size:20px; margin-left:5px;">Thiết kế được lấy cảm hứng từ mô típ Chaine d’Ancre (mỏ neo và dây xích) quen thuộc và được nhìn thấy rõ nhất từ trên xuống. Cả khối bát là 2 chiếc bát nhỏ ghép vào nhau nhờ lực hút nam châm. Hermes đã mô tả chiếc bát là sự kết hợp giữa cảm hứng biển cả và nghề thủ công liên quan đến bộ môn cưỡi ngựa để mang đến niềm vui cho bạn tốt của con người.</p>
            <p style="font-size:20px; margin-left:5px;">Bát được sản xuất ở Pháp với giá 1.140 USD.</p>
            <p style="font-size:20px; margin-left:5px;">Trước đó, nhà mốt Prada cũng từng cho ra mắt mẫu thiết kế áo mưa sang chảnh dành riêng cho cún cưng. Mẫu áo được làm từ chất liệu nylon và mang size vừa vặn với các bạn pet và có mức giá 520 USD.</p>
        </div>
    </div>
</div>

